---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>🧑‍🚀 Bienvenue, sur Inventory!</h1>
			Un gestionaire de ravitaillement éfficace et intuitif!
			<div>
				<div className="flex gap-2">
					<p>
						Lorem ipsum dolor sit amet'
					</p>
					<img src="/blog-placeholder-3.jpg"/>
				</div>
				<div className="flex gap-2">
					<p>
						Lorem ipsum dolor sit amet'
					</p>
					<img src="/blog-placeholder-3.jpg"/>
				</div>
				<div className="flex gap-2">
					<p>
						Lorem ipsum dolor sit amet'
					</p>
					<img src="/blog-placeholder-3.jpg"/>
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
